/**CONFIGURATOR**/
* {
  box-sizing: border-box;
}
/* Hide scrollbars in all scrollable divs */

*::-webkit-scrollbar {
  position: relative;
  display: none;
}

body {
  margin: 0px;
}

/*FOR COLORING OF SVGs TO WORK*/

#body_1_img {
  pointer-events: none;
}
svg {
  pointer-events: none;
}

.colorize {
  pointer-events: all;
}

#colors {
  pointer-events: none;
}

.color_btn {
  pointer-events: all;
}

input {
  position: absolute;
  top: 83%;
  left: 35%;
  width: 75px;
  height: 30px;
}

/* --- MOBILE VIEW --- */

@media only screen and (max-width: 699px) {
  #configurator {
    padding: 3vw;
    width: 100vw;
    /* height: 100vh;
        overflow: hidden; */
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  /* #preview_container only here to fix #preview and hide scroll content behind it - maybe there's a better solution? */
  #preview_container {
    /* background-color: darkmagenta; */
    position: fixed;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview {
    width: 94vw;
    height: 94vw;
  }

  #bodyparts {
    margin-top: 100vw;
    width: 94vw;
  }

  #bodyparts > div {
    width: 94vw;
    height: 30vw;
    margin-top: 3vw;
    display: grid;
    grid-template-columns: repeat(6, 35%);
    grid-gap: 2%;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .part_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part_container img {
    max-height: 20vw;
  }

  #colors {
    margin-top: 3vw;
    width: 94vw;
    height: 94vw;
  }

  #activator {
    margin-top: 3vw;
    width: 94vw;
    height: 94vw;
  }
}

/* --- BIGGER THAN MOBILE --- */

@media only screen and (min-width: 700px) {
  #configurator {
    width: 100vw;
    height: 100vh;
    padding: 3vw;
    display: grid;
    grid-template-areas:
      "preview bodyparts"
      "colors reset";
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 20%;
  }
  /* Here the preview_container takes up the grid area, but only serves to contain the #preview */
  #preview_container {
    grid-area: preview;
    margin: 0 1vw;
    display: flex;
    gap: 1vw;
  }

  #chosen {
    background-color: rgb(236, 230, 241);
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 15px 5px #d0d0d0;
  }

  #chosen ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: auto;

    padding: 0;
  }
  #chosen ul li {
    padding: 0.3vw;
  }

  #chosen ul li img {
    height: 3em;
    margin: auto;
    display: block;
  }
  /*CHOSEN PARTS TO ANIMATE*/

  #preview {
    background-color: rgb(236, 230, 241);
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 15px 5px #d0d0d0;
  }

  /* See preview.css for positioning of the robot body parts */

  #bodyparts {
    grid-area: bodyparts;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }

  #bodyparts > div {
    width: 100%;
    height: 18vw;
    display: grid;
    grid-template-columns: repeat(10, 40%);
    grid-gap: 2%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 25px;
  }

  .part_container {
    background-color: rgb(236, 230, 241);
    border: 0.5px lightgray;
    margin-right: 1vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part_container img {
    height: 9vw;
  }

  .part_container img:hover {
    cursor: pointer;
  }

  #colors {
    grid-area: colors;
    margin: 2vw 0 0 0;
    padding-left: 2vw;
  }
  .color_btn:hover {
    cursor: pointer;
  }

  #btn {
    text-align: center;
    margin-top: 5vw;
  }
}

/*LARGE DESKTOPS*/
@media only screen and (min-width: 1200px) {
  #bodyparts > div {
    width: 100%;
    height: 18vw;
    grid-template-columns: repeat(10, 30%);
    grid-gap: 0.1%;
  }

  .part_container img {
    height: 6vw;
  }
}

/* Animation classes */

/* Create animation for adding a feature */
.animate-feature-in {
  animation: animate-in 1.2s;
  animation-iteration-count: 1;
}

@keyframes animate-in {
  0% {
    transform: translate(var(--diffX), var(--diffY));
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Create animation for adding a feature */
.animate-feature-out {
  animation: animate-out 1.2s;
  animation-iteration-count: 1;
}

@keyframes animate-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--diffX), var(--diffY));
    opacity: 0;
  }
}
