/**CONFIGURATOR**/
* {
  box-sizing: border-box;
}
/* Hide scrollbars in all scrollable divs */

*::-webkit-scrollbar {
  position: relative;
  display: none;
}

body {
  background-image: url(./img/scrap_background.jpg);
  background-size: cover;
  background-position-x: center;
}

ul li a {
  color: bisque;
}

/*FOR COLORING OF SVGs TO WORK*/

ul li {
  color: bisque;
}

li a {
  color: bisque;
}

svg {
  pointer-events: none;
}

.colorize {
  pointer-events: all;
}

#colors {
  pointer-events: none;
}

.color_btn {
  pointer-events: all;
  width: 4vw;
  height: 4vw;
  margin-left: 1vw;
}

.color_btn:hover {
  transform: scale(0.8);
}

 /* --- THE BAR THAT SHOWS WHAT PARTS HAVE BEEN SELECTED --- */
  
 #chosen {
    background-color: rgba(236, 230, 241, 0.5);
    width: 100%;
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 20px 5px #000000;
 }

#chosen ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
}
#chosen ul li {
  padding: 0.3vw;
}

#chosen ul li img {
  height: 3em;
  margin: auto;
  display: block;
}

/* --- MOBILE VIEW --- */
@media only screen and (max-width: 799px) {
  #configurator {
    padding: 2vw;
    width: 100vw;
    /* height: 100vh;
        overflow: hidden; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: grid;
    grid-template-areas: "preview" "bodyparts" "colors" "reset";
    grid-template-rows: 85vw 90vw 30vw 20vw;
    row-gap: 3vw;
  }

  #navigation {
    position: relative;
    width: 100vw;
    height: 4vw;
  
  }
  /* #preview_container only here to fix #preview and hide scroll content behind it - maybe there's a better solution? */

  #holding_box {
    grid-area: preview;
    display: grid;
    grid-template-columns: 15% 82%;
    gap: 3%;
  }

  #preview {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 20px 5px #000000;
  }


  #chosen {
    height: 100%;
    justify-content: space-between;
    box-shadow: 2px 2px 20px 5px #000000;
  }

  #chosen ul {
    padding-top: 15vw;
  }
  #chosen ul li {
    margin-top: 1vw;
  }

  #bodyparts {
    grid-area: bodyparts;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #bodyparts > div {
    /* width: 94vw; */
    height: 20vw;
    display: grid;
    grid-template-columns: repeat(6, 25%);
    grid-gap: 2%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }

  .part_container {
    background-color: rgba(236, 230, 241, 0.5);
    box-shadow: 5px 5px 20px 5px #000000;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part_container img {
    height: 15vw;
  }

  #colors {
    background-color: rgba(236, 230, 241, 0.5);
    grid-area: colors;
    padding: 2vw;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 20px 5px #000000;
  }

  #palette {
    display: flex;
    justify-content: space-between;
  }

  #palette .color_btn {
    width: 10vw;
    height: 10vw;
  }

  input {
    width: 10vw;
    height: 10vw;
  }

  #btn {
    grid-area: reset;
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 1rem;
    width: 100%;
    height: 90%;
  }
}

/* --- BIGGER THAN MOBILE --- */

@media only screen and (min-width: 800px) {
  #configurator {
    width: 100vw;
    height: 100vh;
    padding: 0vw 3vw 3vw 3vw;
    display: grid;
    grid-template-areas:
      "preview bodyparts"
      "colors reset";
    grid-template-columns: 58% 40%;
    grid-template-rows: 70% 25%;
    gap: 3% 2%;
  }
  /* Here the preview_container takes up the grid area, but only serves to contain the #preview */
  /* #preview_container {
    grid-area: preview;
    margin: 0 1vw;
    display: flex;
    gap: 1vw;
  } */

  #holding_box {
    /* width: 100%;
    height: 100%; */
    grid-area: preview;
    display: grid;
    grid-template-columns: 10% 87%;
    gap: 3%;
  }

  #preview {
    width: 100%
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 20px 5px #000000;
  }

  #chosen ul {
    list-style-type: none;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding-top: 5vw;
  }
  #chosen ul li {
    padding: 0.3vw;
  }

  #chosen ul li img {
    height: 4vw;
    margin: auto;
    display: block;
  }

  /* See preview.css for positioning of the robot body parts */

  #bodyparts {
    grid-area: bodyparts;
    /* margin: 0 1vw; */
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }

  #bodyparts > div {
    box-shadow: 5px 5px 20px 5px #000000;
    width: 100%;
    height: 18vw;
    display: grid;
    grid-template-columns: repeat(10, 40%);
    grid-gap: 2%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 25px;
  }

  .part_container {
    background-color: rgba(236, 230, 241, 0.5);
    border: 0.5px lightgray;
    margin-right: 1vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part_container img {
    height: 9vw;
  }

  .part_container img:hover {
    cursor: pointer;
  }

  #colors {
    background-color: rgba(236, 230, 241, 0.5);
    grid-area: colors;
    padding: 1vw 2vw 2vw 2vw;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 5px 5px 20px 5px #000000;
    height:80%;
  }

  #palette {
    display: flex;
    justify-content: space-between;
  }

  #palette .color_btn {
    width: 4vw;
    height: 4vw;
  }

  input {
    width: 4vw;
    height: 4vw;
  }

  .color_btn:hover {
    cursor: pointer;
  }

  #btn {
    text-align: center;
    margin-top: 5vw;
  }
}

/*LARGE DESKTOPS*/
@media only screen and (min-width: 1200px) {
  #bodyparts > div {
    width: 100%;
    height: 18vw;
    grid-template-columns: repeat(10, 30%);
    grid-gap: 0.1%;
  }

  .part_container img {
    height: 6vw;
  }
}

/* ANIMATION CLASSES */

/* Create animation for adding a feature */
.animate-feature-in {
  animation: animate-in 1.2s;
  animation-iteration-count: 1;
}

@keyframes animate-in {
  0% {
    transform: translate(var(--diffX), var(--diffY));
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Create animation for adding a feature */
.animate-feature-out {
  animation: animate-out 1.2s;
  animation-iteration-count: 1;
}

@keyframes animate-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--diffX), var(--diffY));
    opacity: 0;
  }
}
