@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

/*color was green and coral, i toned it dow just a bit*/
body {
  background-image: linear-gradient(
    117deg,
    rgb(66, 141, 66) 50%,
    rgb(231, 151, 122) 50%
  );
  background-size: 100% 100%;
}

button {
  font-family: "Bowlby One SC", cursive;
}

h1 {
  font-size: 3.5vw;
  text-align: center;
  text-transform: uppercase;
  font-family: "Bowlby One SC", cursive;
  margin-bottom: 0;
  padding-bottom: 0;
}

#mainText {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Bowlby One SC", cursive;
  font-weight: 200;
}

#robot img {
  max-width: 100%;
  height: auto;
}

/*IMG Layout*/
#body {
  position: absolute;
  left: calc(50% - 108px);
  top: calc(50% - 120px);
}

#head {
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% - 215px);
}

#armLeft {
  position: absolute;
  left: calc(50% - 182px);
  top: calc(50% - 120px);
}

#armRight {
  position: absolute;
  left: calc(50% + 104px);
  top: calc(50% - 120px);
}

#legs {
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% + 80px);
}

#btn {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 6rem);
  transition: transform 0.4s 0.1s ease-out;
}

/* --- MOBILE VIEW --- */
@media only screen and (max-width: 699px) {
  h1 {
    font-size: 3vw;
  }
  #btn {
    top: 85%;
    left: calc(50% - 3.5rem);
  }
  #btn button {
    font-size: 0.8rem;
    width: 7rem;
    height: 3.5rem;
  }
}
