@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bowlby One SC", cursive;
}

#navigation {
  background-color: coral;
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
}
#sec1 {
  height: 100vh;
  background-color: coral;
}
#sec2 {
  height: calc(100vh-27px);
  background-color: darkseagreen;
}

#sec3 {
  height: calc(100vh-27px);
  background-color: darkviolet;
}

#sec4 {
  height: calc(100vh-27px);
  background-color: dodgerblue;
}

#sec5 {
  height: calc(100vh-27px);
  background-color: bisque;
}

#sec6 {
  height: 100vh;
  background-color: plum;
}

section h1 {
  padding: 0;
  font-family: "Bowlby One SC", cursive;
  font-size: 8rem;
  line-height: 8rem;
  margin: 0 1vw;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.parts {
  display: flex;
  justify-content: space-evenly;
  gap: 8vw;
  margin: 10vw 0;
}
.part {
  max-height: 10vw;
  max-width: 10vw;
}

.blue {
  color: rgb(100, 100, 207);
}

.purple-word {
  color: darkviolet;
}
a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgb(66, 64, 64);
}

/* --- MOBILE VIEW --- */
@media only screen and (max-width: 699px) {
  section h1 {
    padding: 0;
    font-size: 3.8rem;
    line-height: 4.2rem;
    margin: 0 1vw;
  }
  .parts {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    margin: 20vw 0;
  }
  .part img {
    max-height: 25vw;
    max-width: 25vw;
  }
}

#sec1,
#sec2,
#sec3,
#sec4,
#sec5,
#sec6 {
  height: 100vh;
  width: 100%;
}
.parts {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
  margin: 10vw 0;
  height: auto;
}

img {
  height: 18vw;
  margin: 0;
}
