/* Stylesheet for robot body parts in the PREVIEW */

/* variables defned here */
/* :root {
    /* body img measurements */
/* --body-width: 200px;
    --body-height: 223px;
}  */
#nav ul {
  display: flex;
  justify-content: space-evenly;
}
ul li {
  list-style: none;
  text-transform: uppercase;
  color: black;
  font-size: 0.8rem;
}

li a {
  color: black;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview svg {
  width: 80%;
  max-width: 80%;
  position: absolute;
}

.hide {
  display: none;
}

@media only screen and (min-width: 1400px) {
  #preview svg {
    width: 60%;
  }
}
