/* Stylesheet for robot body parts in the PREVIEW */

/* variables defned here */
/* :root {
    /* body img measurements */
/* --body-width: 200px;
    --body-height: 223px;
}  */

.part_container img {
    pointer-events: none;
}

#preview {
    display: flex;
    border: 2px black solid;
    justify-content: center;
    align-items: center;
    background-image: url(./img/preview_background_2.jpg);
    background-size: cover;
    background-position-x: center;
}

#preview svg {
    width: 80%;
    
    position: absolute;
}

.shadows {
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.hide {
    display: none;
}

@media only screen and (max-width: 699px) {

    #preview svg {
    width: 110%;
}
}

@media only screen and (min-width: 1400px) {

    #preview svg {
    width: 60%;
}
}
